/* Import Google Font CDN link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

/* **** Sidebar **** */

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}

.logo{
    height: 80px;
    /* padding: 16px; */
    padding: 1rem 0rem 1rem 0rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imga{
    height: 1.8rem;
    padding-right: 0.75rem;
}

.logo h2{
    font-size: 2rem;
    overflow: hidden;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
}


/* **** Main Content **** */
.main--content{
    background-color: #ebe9ea;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem 0.5rem;
    overflow: hidden;
}

.profile--content{
    background-color: #fff;
    margin: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    height: 100%;
    overflow-y: auto;
}

.profile--content .profile--page{
    position: sticky;
    left: 26%;
    /* transform: translate(-50%, -50%); */
    width: 500px;
    padding: 20px 30px;
    background: #fff;
    border-radius: 10px;
}

.profile--content .profile--page i{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 150px;
}

.profile--content .profile--page h1{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.profile--content .profile--page .profile--block{
    margin: 15px 0px;
}

.profile--content .profile--page .profile--block label{
    font-size: 16px;
    color: #222;
    font-weight: 600;
}

.profile--content .profile--page .profile--block input[type="text"] {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

::-webkit-scrollbar{
    display: none;
}